@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');

body {
	margin: 0;
}

.header {
	position: absolute;
	width: 100%;
	height: 60px;
	background: #FCFCFE;
	border-bottom: 1px solid #E3E8F1;
	display: flex;
	flex-direction: row;
	padding: 0;
	justify-content: space-between;
	align-items: center;
	min-width: 895px;
}

a.logo {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	transition: all 0.23s ease;
	cursor: pointer;
	margin-left: 15px;
	text-decoration: none;
}

.logo:hover {
	opacity: 0.7;
}

.logo_left {
	background: url(../img/vectur.png);
	width: 26px;
	height: 35px;
	background-position: center;
	background-repeat: no-repeat;
	margin-right: 13px;
}

@media (min-width: 1060px) {
	.logo_right {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 22px;
		color: #4C5567;
	}
}

@media (max-width: 1060px) {
	.logo_right {
		display: none;
	}
}

.block_right {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: auto;
}

a.block_right_1 {
	padding: 0 32px;
	color: #ED592B;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 18px;
	cursor: pointer;
	text-decoration: none;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-left: 1px solid #E3E8F1;
	transition: all 0.23s ease;
}

a.block_right_1:hover {
	opacity: 0.7;
}

a.block_right_2 {
	padding: 0 32px;
	color: #488BF0;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 18px;
	cursor: pointer;
	text-decoration: none;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-left: 1px solid #E3E8F1;
	transition: all 0.23s ease;
}

a.block_right_2:hover {
	opacity: 0.7;
}

a.block_right_3 {
	padding: 0 32px;
	color: #21D152;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 18px;
	cursor: pointer;
	text-decoration: none;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-left: 1px solid #E3E8F1;
	transition: all 0.23s ease;
}

a.block_right_3:hover {
	opacity: 0.7;
}

a.block_right_4 {
	padding: 0 32px;
	color: #DCB93D;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 18px;
	cursor: pointer;
	text-decoration: none;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-left: 1px solid #E3E8F1;
	transition: all 0.23s ease;
}

a.block_right_4:hover {
	opacity: 0.7;
}

a.block_right_5 {
	padding: 0 32px;
	cursor: pointer;
	text-decoration: none;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-left: 1px solid #E3E8F1;
	transition: all 0.23s ease;
	background: url(../img/group1.png);
	width: auto;
	background-position: center;
	background-repeat: no-repeat;
}

a.block_right_5:hover {
	opacity: 0.7;
}

a.block_right_6 {
	padding: 0 32px;
	cursor: pointer;
	text-decoration: none;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-left: 1px solid #E3E8F1;
	transition: all 0.23s ease;
	background: url(../img/group2.png);
	width: auto;
	background-position: center;
	background-repeat: no-repeat;
}

a.block_right_6:hover {
	opacity: 0.7;
}